---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Email from '../components/Email.astro';
import PostCard from '../components/PostCard.astro';
import Button from '../components/Button.astro';
import {db, Post} from 'astro:db'
import Footer from '../components/Footer.astro';

const posts = await db.select().from(Post);
---

<Layout title="Welcome to Dev-Host.">
	<main class="text-white">
		<NavBar />
		<section class="h-[80%] bg-dusk">
			<div class="flex flex-col text-center text-white items-center justify-center h-[448px]">
				<h1 class="text-7xl font-medium">This Week in Dev-Hosted</h1>
				<p class="text-xl w-[600px] mt-6">Join thousands of other readers discovering the latest in dev-hosted software and content every Friday</p>
				<Email />						
			</div>
		</section>
		<section class="mx-24">
			<p class="mt-12 font-semibold">Explore Latest Posts</p>
			<div class="grid grid-cols-2 gap-3 mt-12 gap-y-28">
				{
					posts.map(({title, description, publishDate, authorId}) => (
						<PostCard title={title} description={description} date={publishDate} authorId={authorId}/>
					))
				}
			</div>
			<div class="flex items-center justify-center mt-24">
				<Button>
					<p>LOAD MORE</p>
				</Button>
			</div>
		</section>
		<Footer />
	</main>
</Layout>