---
import Button from "./Button.astro"
---

<div class="flex gap-5 mt-10">
    <input type="email" placeholder="Enter your email" class="bg-[#4C4C4C] w-[518px] h-[45px] border-transparent rounded-xl pl-7">
    <Button>
        <p>SUBSCRIBE</p>
        <i data-lucide="chevron-right"></i>
    </Button>
</div>