<footer class="m-24 mb-4 flex justify-between h-full">
    <div class="flex flex-col justify-around">
        <div class="mb-24">
            <h1 class="text-2xl font-semibold">Devh.st</h1>
            <p>Dev-hosted news, content, updates, and more.</p>
        </div>
        <p>Copyright &copy; {new Date().getFullYear()} devh.st</p>
    </div>
    <div class="flex justify-end gap-6">
        <div class="flex flex-col">
            <a href="/">ABOUT</a>
            <a href="/">CONTACT</a>
            <a href="/">SPONSORS</a>
            <a href="/">BUY ME A COFFEE</a>
        </div>
        <div class="flex flex-col">
            <a href="/">SUBSCRIBE</a>
            <a href="/">RSS</a>
            <a href="/">PRIVACY POLICY</a>
            <a href="/">MASTODON</a>
        </div>
    </div>
</footer>